.bubulles1{
    background-color: rgb(226, 43, 43);
    border-radius: 100px;
    width: 200px;
    height: 200px;
    transform: translate(100px,200px) ;
    z-index: -1;
  }
  .bubulles2{
    background-color: rgb(226, 43, 43);
    border-radius: 200px;
    width: 400px;
    height: 400px;
    transform: translate(200px,300px) ;
    z-index: -1;
  }
  .bubulles3{
    background-color: rgb(43, 116, 226);
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 25%;
    bottom: 50px;
    left: 800px;
    z-index: -1;
  }