.bubulles1{
    background-color: #443243;
    border-radius: 200px;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 100px;
    left: 100px;

    z-index: -1;
  }
  .bubulles2{
    background-color: #443243;
    border-radius: 250px;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 550px;
    right:-60px;
    z-index: -1;
  }
  .bubulles3{
    background-color:#29384b;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 650px;
    left: 800px;
    z-index: -1;
  }
  .bubulles4{
    background-color:#29384b;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 600px;
    right: 800px;
    z-index: -1;
  }
  .bubulles5{
    background-color: #29384b;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 850px;
    right: 450px;
    
    z-index: -1;
  }