.bubulles1{
    background-color: #29384b;
    border-radius: 200px;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 100px;
    left: 100px;

    z-index: -1;
  }
  .bubulles2{
    background-color: #29384b;
    border-radius: 250px;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 550px;
    right:-60px;
    z-index: -1;
  }
  .bubulles3{
    background-color:#29384b;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 650px;
    left: 800px;
    z-index: -1;
  }
  .bubulles4{
    background-color:#29384b;
    border-radius: 125px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 400px;
    left: 1200px;
    z-index: -1;
  }
  .bubulles5{
    background-color: #29384b;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    
    z-index: -1;
  }