.img{
    justify-content: flex-end;
    margin-bottom: 0px;
    
}
   h3{
    font-size: 25px;
   }
  main{
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
  }
  h1{
    font-size: 50px;
  }
  .textAndA{
    
  }
 .textAndA a{
    background-color: blueviolet;
    border-radius: 15px;
    padding-left:65px ;
    padding-right: 65px;
    padding-top: 13px;
    padding-bottom: 13px;
 }